<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Raily.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCF2371B1E01E8F8005C9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF237311E01E8F8005C9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCF2373C1E01E8F8005C9D42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
